<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Log In</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script>
						// 자바스크립트 파트
        </script>

    </head>
    <body>
        <!-- HTML 파트 -->
        <div class="main">
            <div class="content">
                <div class="id_field">
                    <input id="input-username" type="text" placeholder="아이디">
                </div>
                <p id="help-id-login" class="is-danger"></p>
                <div class="pw_field">
                    <input id="input-password" type="password" placeholder="비밀번호">
                </div>
            </div>

            <div id="div-sign-in-or-up">
                <button onclick="toggle_sign_up()">
                    회원가입하기
                </button>
                <button onclick="sign_in()">
                    로그인
                </button>                
            </div>

            

        </div>
    </body>
</html>